body {
	font-family: cambria;
	background-color: #eaeaea;
}

a {
	text-decoration: none;
}

#wrapper {
	width: 980px;
	margin: auto;
	padding: 15px;
	border: 1px solid black;
	background-color: #FFFFFF;
}

h1,
h2 {
	padding-bottom: 1px;
	border-bottom: 1px solid grey;
}

nav {
	border: 1px solid grey;
	padding: 5px 10px;
	width: 23em;
	margin-top: 1em;
	float: left;
}

ol {
	padding-left: 2em;
	counter-reset: item;
}

li{ 
	display: block;
}

li:before { 
	content: counters(item, ".") " "; 
	counter-increment: item;
}

table {
	border-collapse: collapse;
}

table,
th,
td {
	border: 1px solid grey;
	padding: 0.2em 0.4em;
}

th {
	background-color: #eaeaea;
}

#check {
	color: green;
	font-weight: 600;	
}

#lobby {
	margin: 75px 0px 30px 45px
}